div {

	font-family: Verdana;
	color: #FFF;
}
body {
	/*background-color: #EDEDED;*/
	background-color: #346995;
	padding: 0px;
	margin: 0px;
}
.body {
	max-width: 720px;
	margin: 0 auto 0 auto;
	padding: 5px;
	background-color: #0C426F;
	text-align: center;
}
.status-timer {
	border-width: 0px;
	padding: 5px;
	margin: 5px;
	text-align: center;
	font-size: 12px;
}
.status {
	display: none;
	border-width: 0px;
	padding: 5px;
	margin: 5px;
	text-align: center;
}
.status__index {
	border-width: 0px;
	display: inline-block;
	font-size: 12px;
	text-align: left;
	float: left;
	margin: 0;
	padding: auto 0 auto 0;
}
.status__accuracy {
	border-width: 0px;
	display: inline-block;
	text-align: center;
	font-size: 12px;
	margin: 0;
	font-size: 8pt;
}
.status__time {
	border-width: 0px;
	display: inline-block;
	text-align: right;
	float: right;
	font-size: 12px;
	margin: 0;
	font-size: 8pt;
}
.question {
	box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.1);
	border-width: 0px;
	border-color: white;
	background-color: #0C426F;
	margin: 5px;
	padding: 5px;
	border-top: 15px solid #195383;
	border-bottom: 15px solid #195383;
}
.question__name {
	border-width: 0px;
	text-align: center;
	color: white;
	font-size: 12pt;
	margin: 5px;
	padding: 5px
}
.answers {
	margin: 5px;
	padding: 0;
	border-width: 0;
}
.answers__answer {
	border-width: 0px;
	border-radius: 5px;
	background-color: white;
	color: black;
	font-size: 12pt;
	padding: 15px;
	margin: 5px 0 5px 0;
	cursor: pointer;
}
.answers__answer_unselected:hover {
	background-color: #EEE;
}
.answers__answer_selected {
	background-color: #0275D8;
	color: white;
}
.answers__answer_right {
	border-right: 15px solid green;
	border-left: 15px solid green;
}
.checkbox-wrapper {
	display: block;
	font-size: 18px;
}
.button {
	background-color: green;
	border-radius: 5px;
	margin: 5px;
	text-align: center;
	font-size: 24pt;
	height: 70px;
	line-height: 70px;
	cursor: pointer;
}
.button:hover {
	background-color: #5CB85C;
}
.select {
	margin: 5px;
	font-size: 24px;
	text-align: center;
	max-width: 600px;
}
.select__option {
	font-size: 18px;
}
.result {
	margin: 5px;
	font-size: 28pt;
}
.bblock {
	margin: 5px;
	padding-bottom: 10px;
}
.bblcok__button1 {
	line-height: 40px;
	height: 40px;
	background-color: orange;
	display: inline-block;
	width: 30%;
	font-size: 12pt;
	vertical-align: top;
	cursor: pointer;
}
.bblcok__button3 {
	line-height: 40px;
	height: 40px;
	background-color: orange;
	display: inline-block;
	width: 30%;
	font-size: 12pt;
	vertical-align: top;
	cursor: pointer;
}
.bblcok__button2 {
	line-height: 40px;
	background-color: orange;
	display: inline-block;
	width: 30%;
	font-size: 12pt;
	height: 40px;
	cursor: pointer;
}
.bblcok__button2_inactive {
	background-color: gray;
	cursor: default;
}
@media screen and (max-width: 360px) {
	.status__time, .status__accuracy, .status__index, .status-timer {
		font-size: 6pt;
	}
	.answers__answer, .question__name {
		font-size: 8pt;
	}
}